body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);

}

.center-2 {
  margin-left: auto;
  margin-right: auto;
  width: 6%;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25.3%;
}

.inner-list {
  margin: 20px;
  font-weight: 1000;
}

.image {
  align-items: center;
  justify-content: center;
  flex: auto;
}

.About {
  margin: 10px;
  font-family: 'Chivo', sans-serif;
}

.Desc {
  margin: 10px;
  font-family: 'Chivo', sans-serif;
}

.Demo {
  margin: 10px;
  font-family: 'Chivo', sans-serif;
}

.Home {
  margin: 10px;
  font-family: 'Chivo', sans-serif;
}

.Checklist {
  margin: 10px;
  font-family: 'Chivo', sans-serif;
}

.ais-SearchBox-input {
  width: 40%;
  border: none;
  margin-left: 20px;
  margin-top: 20px;
  padding: 3px;
}



ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.ais-Hits-item {
  border-radius: 20px;
  box-shadow: 0px 5px 20px rgb(70, 70, 70);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;

}

.Name {
  font-size: 25px;
  font-family: 'Chivo', sans-serif;

}

.Details {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}